body {
  margin: 0;
  background-color: #84B118;
  color: #EEECE7;;
}

h1 {
  text-align: center;
  background-color: #553591;
  margin: 0;
  padding: 20px 0;
  font-size: 100px;
}

.image-div {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.human-div, .mod-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.human, .mod {
  width: 150px;
  height: 150px;
}

.human {
  background-color: white;
}

.court {
  display: block;
  width: 1000px;
}

#winnerLine, #scoreLine {
  margin: 0;
  background-color: #553591;;
  text-align: center;
  list-style-type: none;
}

#winnerLine {
  font-size: 40px;
}

#scoreLine {
  font-size: 70px;
}